





label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



button{
    padding: 10px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

button {
    background-color: rgb(9, 148, 241);
}

.logout{
   margin-left: 90%;
  
}


#balloon div{
    background: #ff3300;
    height: 121px;
    width: 119px;
    color: #222020;
    font-size: 40px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    
}
#congrats {
    display:none;
    color:#ff3300;
    font-size:30px;
}




  #congrats2 {
    display:none;
    color:#ff3300;
    font-size:30px;
}


#bttn{

background-color: white;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

cursor: pointer;
}

     
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  